<!--
/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * Copyright 2014 The moOde audio player project / Tim Curtis
*/
-->
<div id="container">
<div class="container">
	<h1 class="ren-config">AirPlay</h1>

    <form class="form-horizontal" action="" method="post">
    	<legend>Settings
			<button class="legend-config btn btn-medium btn-primary btn-submit" type="submit" name="save" value="1">Save</button>
		</legend>

		<div class="control-group">
			<label class="control-label" for="interpolation">Interpolation</label>
			<div class="controls">
				<select id="interpolation" class="config-select-large" name="config[interpolation]">
					$_select[interpolation]
				</select>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-interpolation" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-interpolation" class="config-help-info">
					Use SoX for best quality or Basic which consumes fewer CPU resources.
                </span>
			</div>

			<label class="control-label" for="output-format">Bit depth</label>
			<div class="controls">
				<select id="output-format" class="config-select-large" name="config[output_format]">
					$_select[output_format]
				</select>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-output-format" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-output-format" class="config-help-info">
					Bit depth output by AirPlay receiver. Default is 16 bit.
                </span>
			</div>

			<label class="control-label" for="output-rate">Sample rate</label>
			<div class="controls">
				<select id="output-rate" class="config-select-large" name="config[output_rate]">
					$_select[output_rate]
				</select>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-output-rate" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-output-rate" class="config-help-info">
					Sample rate output by AirPlay receiver. Default is 44.1 kHz. Conversion to rates greater than 44.1 kHz is done using simple upsampling and therefore these higher rates should only be used if the audio device doesn't support 44.1 kHz rate.
				</span>
			</div>

			<label class="control-label" for="allow-session-interruption">Session interrupt</label>
			<div class="controls">
				<select id="allow-session-interruption" class="config-select-large" name="config[allow_session_interruption]">
					$_select[allow_session_interruption]
				</select>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-allow-session-interruption" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-allow-session-interruption" class="config-help-info">
					Allow session to be interrupted by another AirPlay sender. Default is No.
                </span>
			</div>

			<label class="control-label" for="disable-synchronization">Disable sync</label>
			<div class="controls">
				<select id="disable-synchronization" class="config-select-large" name="config[disable_synchronization]">
					$_select[disable_synchronization]
				</select>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-disable-synchronizatio" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-disable-synchronizatio" class="config-help-info">
					Disable synchronization. Set this to Yes if CamillaDSP is on and there are audio glitches. Default is No.
                </span>
			</div>

			<label class="control-label" for="session-timeout">Session timeout</label>
			<div class="controls">
				<input class="config-input-large" type="number" id="session-timeout" name="config[session_timeout]" value="$_select[session_timeout]">
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-session-timeout" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-session-timeout" class="config-help-info">
					Wait for this number of seconds after a source disappears before terminating the session and becoming available again. Default is 120.
                </span>
			</div>

			<label class="control-label" for="audio-backend-latency-offset-in-seconds">Latency offset</label>
			<div class="controls">
				<input class="config-input-large" type="text" id="audio-backend-latency-offset-in-seconds" name="config[audio_backend_latency_offset_in_seconds]" value="$_select[audio_backend_latency_offset_in_seconds]">
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-audio-backend-latency-offset-in-seconds" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-audio-backend-latency-offset-in-seconds" class="config-help-info">
					Set this offset to compensate for a fixed delay in the audio back end e.g. if the output device delays by 100 ms, set this to -0.1.
                </span>
			</div>

			<label class="control-label" for="audio-backend-buffer-desired-length-in-seconds">Buffer length</label>
			<div class="controls">
				<input class="config-input-large" type="text" id="audio-backend-buffer-desired-length-in-seconds" name="config[audio_backend_buffer_desired_length_in_seconds]" value="$_select[audio_backend_buffer_desired_length_in_seconds]">
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-audio-backend-buffer-desired-length-in-seconds" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-audio-backend-buffer-desired-length-in-seconds" class="config-help-info">
					If set too small, buffer underflow occurs on low-powered machines. If set too long the response times with software mixer become annoying. Default is 0.15.
                </span>
			</div>
		</div>
	</form>
</div>
</div>
