<!--
/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * Copyright 2014 The moOde audio player project / Tim Curtis
*/
-->
<div id="container">
<div class="container">
	<h1 class="ren-config">Deezer Connect</h1>

	<!-- TEMPLATE -->

    <form class="form-horizontal" action="" method="post">
    	<legend>Settings
			<button class="legend-config btn btn-medium btn-primary btn-submit" type="submit" name="save" value="1">Save</button>
		</legend>

		<div class="control-group">

			<div class="config-horiz-rule">General</div>

			<label class="control-label" for="format">Audio format</label>
			<div class="controls">
				<select id="format" class="config-select-large" name="config[format]">
					$_select[format]
				</select>
			</div>

			<label class="control-label" for="initial-volume">Initial volume</label>
			<div class="controls">
				<input class="config-input-large" type="number" min="0" max="100" id="initial-volume" name="config[initial_volume]" value="$_select[initial_volume]" required>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-initial-volume" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-initial-volume" class="config-help-info">
					Initial volume in % from 0 - 100. The default is 10.
                </span>
			</div>

			<label class="control-label" for="normalize-volume">Normalize volume</label>
			<div class="controls">
				<select id="normalize-volume" class="config-select-large" name="config[normalize_volume]">
					$_select[normalize_volume]
				</select>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-normalize-volume" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-normalize-volume" class="config-help-info">
					Adjusts the volume of all songs played so that they sound as though they are of equal loudness.
					when using normalization, S32 or f32 audio formats are recommended as they preserve more precision in the audio output.
				</span>
			</div>

			<label class="control-label" for="no-interruptions">Interrupt session</label>
			<div class="controls">
				<select id="no-interruptions" class="config-select-large" name="config[no_interruptions]">
					$_select[no_interruptions]
				</select>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-no-interruptions" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-no-interruptions" class="config-help-info">
					Prevent other clients from taking over the connection after pleezer has connected.
				</span>
			</div>

			<label class="control-label" for="max-ram">RAM file cache</label>
			<div class="controls">
				<select id="max-ram" class="config-select-large" name="config[max_ram]">
					$_select[max_ram]
				</select>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-max-ram" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-max-ram" class="config-help-info">
					Maximum amount of RAM to use for storing audio files in memory.<br>
					<b>Disabled:</b> Files are cached to the default [] location.<br>
					<b>128MB:</b> Should comfortably handle most MP3 tracks.<br>
					<b>256MB:</b> Would handle most FLAC tracks.
				</span>
			</div>

			<div class="config-horiz-rule">Credentials</div>

			<label class="control-label" for="email">Email address</label>
			<div class="controls">
				<input class="config-input-large" type="text" id="email" name="config[email]" value="$_select[email]">
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-email" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-email" class="config-help-info">
					Userid (email address) for your Deezer Premium subscription.
                </span>
			</div>

			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input class="config-input-large" type="$_pwd_input_format" id="password" name="config[password]" value="$_select[password]">
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-password" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<a class="show-hide-password" href="#notarget" data-id="password"><i class="fa-regular fa-sharp fa-eye"></i></a>
				<span id="info-password" class="config-help-info">
					Password for your Deezer Premium subscription.
				</span>
			</div>

			<!-- TBD option
			<div class="config-horiz-rule">Networking</div>

			<label class="control-label" for="dns-options">DNS options</label>
			<div class="controls">
				<select id="dns-options" class="config-select-large" name="config[dns_options]">
					$_select[dns_options]
				</select>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-dns-options" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span class="config-help-static">
					<b>Caution:</b> Non-default DNS options may negatively affect other applications.
				</span>
				<span id="info-dns-options" class="config-help-info">
					<b>Default:</b> Use the OS default DNS settings which are best in most cases.<br>
					<b>Timeout-1:</b> Reduce DNS timeout to 1 second from the OS default of 5 seconds.<br>
					<b>No-Quad-A:</b> Reduce DNS total query time by not fetching the ipv6 AAAA record.
                </span>
			</div>
			-->
		</div>
	</form>
</div>
</div>
