<!--
/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * Copyright 2014 The moOde audio player project / Tim Curtis
 * Copyright 2013 The tsunamp player ui / Andrea Coiutti & Simone De Gregori
*/
-->
<div id="container">
<div class="container">
	<h1 class="lib-config">Music Library</h1>

	<form class="form-horizontal" method="post">
		<legend>Remote NAS Sources</legend>
		<p class="sub-legend">
			Create a remote NAS source when the song files reside on another computer in the network.
			After saving or removing a NAS source select "Update library" from the Menu when in Playback or Library views.
		</p>

		<div class="control-group">
			<a href="lib-config.php?cmd=add_nas_source"><button class="btn btn-medium btn-primary config-btn">Create</button></a>
			<span class="config-btn-after">Remote NAS source</span>

			<div>$_nas_mounts</div>

			<a href="#remount-sources" data-toggle="modal"><button class="btn btn-medium btn-primary config-btn">Re-mount</button></a>
			<span class="config-btn-after">Remote NAS sources</span>
			<a aria-label="Help" class="config-info-toggle" data-cmd="info-remount-sources" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
			<span id="info-remount-sources" class="config-help-info">
				Unmount all remote NAS sources then re-mount them.
			</span>

			<div>
				<div class="toggle">
					<label class="toggle-radio toggle-fs-mount-monitor" for="toggle-fs-mount-monitor-2">ON </label>$_select[fs_mountmon_on]
					<label class="toggle-radio toggle-fs-mount-monitor" for="toggle-fs-mount-monitor-1">OFF</label>$_select[fs_mountmon_off]
				</div>
				<span class="config-toggle-after">Mount monitor</span>
				<button id="btn-set-fs-mountmon" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_fs_mountmon" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-mount-monitor" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-mount-monitor" class="config-help-info">
					Attempt to automatically restore Remote NAS Source mounts that become temporarily unavailable due to network or file sharing service interruption.
					Due to the protocols used in SMB and NFS there can be long timeouts when checking a mount or performing a re-mount.
					Refer to the file /var/log/moode_mountmon.log when Debug logging is on.
				</span>
			</div>
		</div>

		<legend>Local NVMe Drives</legend>
		<p class="sub-legend">
			Local NVMe drives must be manually mounted or un-mounted. Click MOUNT to mount a new NVMe drive.
			After mounting or un-mounting the drive select "Update library" from the Menu when in Playback or Library views.
			Note that only EXT4 formatted drives are supported.
		</p>

		<div class="control-group">
			<a href="lib-config.php?cmd=add_nvme_source"><button class="btn btn-medium btn-primary config-btn">Mount</button></a>
			<span class="config-btn-after">Local NVMe drive</span>

			<div>$_nvme_mounts</div>

			<a href="lib-config.php?cmd=format_nvme_drive"><button class="btn btn-medium btn-primary config-btn">Format</button></a>
			<span class="config-btn-after">Local NVMe drive</span>
			<a aria-label="Help" class="config-info-toggle" data-cmd="info-format-nvme-drive" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
			<span id="info-format-nvme-drive" class="config-help-info">
				A List of NVMe drives will be presented showing the device ID and in parenthesis its volume label or a status for example "Unformatted" or "No label".
			</span>
		</div>

		<legend>Local SATA Drives</legend>
		<p class="sub-legend">
			Local PCIe attached SATA drives must be manually mounted or un-mounted. Click MOUNT to mount a new SATA drive.
			After mounting or un-mounting the drive select "Update library" from the Menu when in Playback or Library views.
			Note that SATA drives must be formatted outside of moOde prior to mounting.
		</p>

		<div class="control-group">
			<a href="lib-config.php?cmd=add_sata_source"><button class="btn btn-medium btn-primary config-btn">Mount</button></a>
			<span class="config-btn-after">Local SATA drive</span>

			<div>$_sata_mounts</div>
		</div>

		<legend>Local USB Drives</legend>
		<p class="sub-legend">
			Local USB drives are auto-mounted when they are inserted and auto-unmounted when they are removed.
			After inserting or removing the drive select "Update library" from the Menu when in Playback or Library views.
		</p>

		<legend>Music Database</legend>
		<p class="sub-legend">
			The music database consists of the MPD database, Library tag cache and Album cover thumbnail cache. The Library
			tag cache contains track metadata extracted by MPD plus custom metadata generated by moOde.
		</p>

		<div class="control-group">
			<div>
				<a href="#regen-mpddb" data-toggle="modal"><button class="btn btn-medium btn-primary config-btn">Regenerate</button></a>
				<span class="config-btn-after">Music database</span>
				<span class="config-help-static">
					Regenerate the MPD database, Library tag cache and album cover thumbnail cache.
	            </span>
			</div>

			<div>
				<a href="#clear-libcache" data-toggle="modal"><button class="btn btn-medium btn-primary config-btn">Clear</button></a>
				<span class="config-btn-after">Library tag cache</span>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-clear-libcache" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-clear-libcache" class="config-help-info">
					The Library tag cache contains all music metadata and will be created when returning to Playback or Library view.
	            </span>
			</div>

			<div>
				<div class="toggle">
					<label class="toggle-radio toggle-cuefiles-ignore" for="toggle-cuefiles-ignore-2">ON </label>$_select[cuefiles_ignore_on]
					<label class="toggle-radio toggle-cuefiles-ignore" for="toggle-cuefiles-ignore-1">OFF</label>$_select[cuefiles_ignore_off]
				</div>
				<span class="config-toggle-after">Ignore CUE files</span>
				<button id="btn-set-cuefiles-ignore" class="hide btn btn-primary btn-small btn-submit config-btn-set" type="submit" name="update_cuefiles_ignore" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-cuefiles-ignore" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-cuefiles-ignore" class="config-help-info">
					This can help prevent duplicate tracks entries when a .cue file is present in the album directory.
					After changing this setting return to Playback or Library then select "Update library" from the Menu.
		        </span>
			</div>
		</div>

		<legend>Thumbnail Generator</legend>
		<p class="sub-legend">
			Album cover thumbnail images are used to populate the Library views, Playbar and the Queue.
			The Cover Art section of Preferences contains options for these thumbnail images.
		</p>

		<div class="control-group">
			<div>
				<a href="#regen-thmcache" data-toggle="modal"><button class="btn btn-medium btn-primary config-btn">Regenerate</button></a>
				<span class="config-btn-after">Album cover thumbnail cache</span>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-regen-thmcache" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-regen-thmcache" class="config-help-info">
					Regenerate the album cover thumbnail cache by first deleting it and then re-populating it with newly generated thumbnails.
	            </span>
			</div>

			<div>
				<a id="view-thmcache-status" href="#notarget"><button class="btn btn-medium btn-primary config-btn">View Status</button></a>
				<span id="thmcache-status" class="config-btn-after">$_thmcache_status</span>
			</div>
		</div>
	</form>
</div>
</div>

<form class="form-horizontal" method="post">
	<div id="remount-sources" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="remount-sources-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Re-mount NAS sources?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="remount_nas_sources" value="novalue">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="regen-mpddb" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="regen-mpddb-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Regenerate Music Database?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="regen_library" value="novalue">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="clear-libcache" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="clear-libcache-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Clear library tag cache?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="clear_libcache" value="novalue">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="regen-thmcache" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="regen-thmcache-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Regenerate thumbnail cache?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="regen_thmcache" value="novalue">Yes</button>
		</div>
	</div>
</form>
