<div style="position: relative;text-align: center;top: 50px;margin-bottom: 150px;">searching lyrics...
<div aria-label="lyricsloading"><svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='-10 -20 64 64' stroke='#fff'><g fill='none' fill-rule='evenodd'><g transform='translate(3 3)' stroke-width='4'><circle stroke-opacity='.35' cx='18' cy='18' r='18'/><path d='M36 18c0-9.94-8.06-18-18-18'><animateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/></path></g></g></svg></div>
</div>
