<!--
/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * Copyright 2014 The moOde audio player project / Tim Curtis
*/
-->
<div id="container">
<div class="container">
	<h1 class="per-config">Peripherals</h1>

	<form class="form-horizontal" method="post">
		<div class="control-group $_feat_localdisplay">
			<legend>Local Display</legend>

			<p class="sub-legend">
				Both HDMI and DSI attached displays are supported. There are settings in common between these two
				types of displays in the General settings section. Specific settings for each type are in their respective sections.
			</p>

 			<div class="config-horiz-rule">General settings</div>

			<label class="control-label">Display</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-local-display" for="toggle-local-display-2">ON </label>$_select[local_display_on]
					<label class="toggle-radio toggle-local-display" for="toggle-local-display-1">OFF</label>$_select[local_display_off]
				</div>
                <button id="btn-set-local-display" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_local_display" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-local-display" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				$_screen_res
				<span id="info-local-display" class="config-help-info">
					Display the moOde WebUI on a locally attached display.
                </span>
            </div>

			<label class="control-label">Wake on play</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-wake-display" for="toggle-wake-display-2">ON </label>$_select[wake_display_on]
					<label class="toggle-radio toggle-wake-display" for="toggle-wake-display-1">OFF</label>$_select[wake_display_off]
				</div>
                <button id="btn-set-wake-display" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_wake_display" value="novalue" $_ctl_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-wake-display" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-wake-display" class="config-help-info">
					Wake the display when audio starts playing.
                </span>
            </div>

			<label class="control-label">Mouse cursor</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-scn-cursor" for="toggle-scn-cursor-2">ON </label>$_select[scn_cursor_on]
					<label class="toggle-radio toggle-scn-cursor" for="toggle-scn-cursor-1">OFF</label>$_select[scn_cursor_off]
				</div>
                <button id="btn-set-scn-cursor" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_scn_cursor" value="novalue" $_ctl_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-scn-cursor" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-scn-cursor" class="config-help-info">
					Show or hide the cursor.
                </span>
            </div>

			<label class="control-label">Popup keyboard</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-on-screen-kbd" for="toggle-on-screen-kbd-2">ON </label>$_select[on_screen_kbd_on]
					<label class="toggle-radio toggle-on-screen-kbd" for="toggle-on-screen-kbd-1">OFF</label>$_select[on_screen_kbd_off]
				</div>
                <button id="btn-set-on-screen-kbd" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_on_screen_kbd" value="novalue" $_ctl_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-on-screen-kbd" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-on-screen-kbd" class="config-help-info">
					On-screen popup keyboard by @Nutul.
                </span>
            </div>

			<label class="control-label" for="scn-blank">Screen blank</label>
			<div class="controls">
				<select id="scn-blank" class="config-select-large" name="scn_blank" onchange="autoClick('#btn-set-scn-blank');" $_ctl_disable>
					$_select[scn_blank]
				</select>
				<button id="btn-set-scn-blank" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_scn_blank" value="novalue" $_ctl_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-scn-blank" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-scn-blank" class="config-help-info">
					When playback has stopped the display will be turned off after the specified time period.
                </span>
			</div>

			<div class="controls">
				<button class="btn btn-primary btn-medium config-btn btn-submit" type="submit" name="update_toggle_coverview" value="novalue" $_ctl_disable>Toggle</button>
				<span class="config-btn-after">CoverView</span>
				<span class="config-help-static">
					Coverview is: $_coverview_onoff
				</span>
			</div>

			<div class="controls">
				<a data-toggle="modal" href="#restart-local-display" $_link_disable><button class="btn btn-medium btn-primary config-btn" $_ctl_disable>Restart</button></a>
				<span class="config-btn-after">Local Display</span>
			</div>

			<label class="control-label">Disable GPU</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-disable-gpu-chromium" for="toggle-disable-gpu-chromium-2">ON </label>$_select[disable_gpu_chromium_on]
					<label class="toggle-radio toggle-disable-gpu-chromium" for="toggle-disable-gpu-chromium-1">OFF</label>$_select[disable_gpu_chromium_off]
				</div>
                <button id="btn-set-disable-gpu-chromium" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_disable_gpu_chromium" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-disable-gpu-chromium" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-disable-gpu-chromium" class="config-help-info">
					Disable the GPU for Chromium if the WebUI knob sliders on Pi-2 or Pi-3 are missing or there are any other display artifacts.
				</span>
			</div>

			<label class="control-label">Chromium browser</label>
			<div class="controls">
				<a data-toggle="modal" href="#downgrade-chromium-modal" $_downgrade_link_disabled><button class="btn btn-medium btn-primary config-btn" $_downgrade_ctl_disabled>Downgrade</button></a>
				<span class="config-help-static">
					Installed version is: $_installed_chromium_ver<br>
					$_downgrade_chromium_msg
				</span>
			</div>

			<div class="config-horiz-rule">HDMI displays</div>

			<label class="control-label" for="hdmi-scn-orient">Screen Orientation</label>
			<div class="controls">
				<select id="hdmi-scn-orient" class="config-select-large" name="hdmi_scn_orient" onchange="autoClick('#btn-set-hdmi-scn-orient');" $_ctl_disable>
					$_select[hdmi_scn_orient]
				</select>
				<button id="btn-set-hdmi-scn-orient" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_hdmi_scn_orient" value="novalue" $_ctl_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-hdmi-scn-orient" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-hdmi-scn-orient" class="config-help-info">
					Change between Landscape and Portrait orientation. Assumes Landscape is the native orientation.
                </span>
			</div>

			<label class="control-label">CEC control</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-hdmi-cec" for="toggle-hdmi-cec-2">ON </label>$_select[hdmi_cec_on]
					<label class="toggle-radio toggle-hdmi-cec" for="toggle-hdmi-cec-1">OFF</label>$_select[hdmi_cec_off]
				</div>
                <button id="btn-set-hdmi-cec" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_hdmi_cec" value="novalue" $_hdmi_cec_btn_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-hdmi-cec" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-hdmi-cec" class="config-help-info">
					Automatically turn the display on when moOde starts or when wake on play is initiated. Turn the display off when moOde is shutdown.
                </span>
            </div>

			<label class="control-label">4K 60Hz rate</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-hdmi-enable-4kp60" for="toggle-hdmi-enable-4kp60-2">ON </label>$_select[hdmi_enable_4kp60_on]
					<label class="toggle-radio toggle-hdmi-enable-4kp60" for="toggle-hdmi-enable-4kp60-1">OFF</label>$_select[hdmi_enable_4kp60_off]
				</div>
                <button id="btn-set-hdmi-enable-4kp60" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_hdmi_enable_4kp60" value="novalue" $_hdmi_4kp60_btn_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-hdmi-enable-4kp60" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-hdmi-enable-4kp60" class="config-help-info">
					By default, when connected to a 4K monitor, the Raspberry Pi 4B, 400 and CM4 will select a 30Hz refresh rate. Use this option to allow selection of 60Hz refresh rates.
                </span>
            </div>

			<div class="config-horiz-rule">DSI displays (Pi Touch1/Touch2)</div>

			<label class="control-label" for="dsi-scn-type">Type</label>
			<div class="controls">
				<select id="dsi-scn-type" class="config-select-large" name="dsi_scn_type" onchange="autoClick('#btn-set-dsi-scn-type');">
					$_select[dsi_scn_type]
				</select>
				<button id="btn-set-dsi-scn-type" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_dsi_scn_type" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
			</div>

			<label class="control-label" for="dsi-port">DSI port</label>
			<div class="controls">
				<select id="dsi-port" class="config-select-large" name="dsi_port" onchange="autoClick('#btn-set-dsi-port');" $_dsi_ctl_disable>
					$_select[dsi_port]
				</select>
				<button id="btn-set-dsi-port" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_dsi_port" value="novalue" $_dsi_ctl_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
			</div>

			<label class="control-label" for="dsi-scn-brightness">Brightness</label>
			<div class="controls">
            	<input class="config-input-large" type="number" maxlength="3" min="$_dsi_scn_brightness_min" max="$_dsi_scn_brightness_max" id="dsi-scn-brightness" name="dsi_scn_brightness" value="$_select[dsi_scn_brightness]" $_dsi_ctl_disable>
				<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_dsi_scn_brightness" value="novalue" $_dsi_ctl_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<span class="config-help-static">
					Note: The Pi Touch 2 has a brightness range of 1-31.
                </span>
			</div>

			<!-- Touch1: No solution with KMS driver as of r902 -->
			<!--label class="control-label" for="pixel-aspect-ratio">Pixel aspect ratio</label>
			<div class="controls">
				<select id="pixel-aspect-ratio" class="config-select-large" name="pixel_aspect_ratio" onchange="autoClick('#btn-set-pixel-aspect-ratio');" $_ctl_disable>
					$_select[pixel_aspect_ratio]
				</select>
				<button id="btn-set-pixel-aspect-ratio" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_pixel_aspect_ratio" value="novalue" $_ctl_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info_pixel_aspect_ratio" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info_pixel_aspect_ratio" class="config-help-info">
					Rectangular (default) or square pixels for 7" Pi Touch.
                </span>
			</div-->

			<label class="control-label" for="dsi-scn-rotate">Rotate</label>
			<div class="controls">
				<select id="dsi-scn-rotate" class="config-select-large" name="dsi_scn_rotate" onchange="autoClick('#btn-set-dsi-scn-rotate');" $_dsi_ctl_disable>
					$_select[dsi_scn_rotate]
				</select>
				<button id="btn-set-dsi-scn-rotate" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_dsi_scn_rotate" value="novalue" $_dsi_ctl_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
			</div>
		</div>

		<div class="control-group">
			<legend>Volume controllers</legend>

			<label class="control-label">Triggerhappy</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-usb-volknob" for="toggle-usb-volknob-2">ON </label>$_select[usb_volknob_on]
					<label class="toggle-radio toggle-usb-volknob" for="toggle-usb-volknob-1">OFF</label>$_select[usb_volknob_off]
				</div>
				<button id="btn-set-usb-volknob" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_usb_volknob" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-usb-volknob" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span class="config-help-static">
					Activates the triggerhappy key mapping daemon for USB volume knobs or other USB input devices.
				</span>
				<span id="info-usb-volknob" class="config-help-info">
					Refer to /etc/triggerhappy/triggers.d/media.conf for key/event mappings.
                </span>
			</div>

			<label class="control-label">Rotary encoder</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-rotaryenc" for="toggle-rotaryenc-2">ON </label>$_select[rotaryenc_on]
					<label class="toggle-radio toggle-rotaryenc" for="toggle-rotaryenc-1">OFF</label>$_select[rotaryenc_off]
				</div>
				<button id="btn-set-rotaryenc" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_rotenc" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-rotaryenc" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-rotaryenc" class="config-help-info">
					Enable a rotary encoder device to control MPD volume.
                </span>
			</div>

			<label class="control-label" for="rotenc-params">Encoder settings</label>
			<div class="controls">
				<input class="config-input-large" type="text" id="rotenc-params" name="rotenc_params" value="$_select[rotenc_params]" required>
				<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_rotenc_params" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-rotaryenc-params" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-rotaryenc-params" class="config-help-info">
					Encoder settings (positional)<br>
					- <b>Poll interval:</b> Number of ms sleep for the volume update polling loop. Default = 100.<br>
					- <b>Speed factor:</b> Threshold (diff betw last/current enc pos) to determine whether to use 1 step or volume_step steps. Default = 2.<br>
					- <b>Volume_step:</b> Number of steps to use when knob turns at fast rate. Default = 3.<br>
					- <b>Pin_A Pin_B:</b> Broadcom SoC pin numbers. Default = 23 24.
                </span>
			</div>
		</div>

		<div class="control-group">
			<legend>Other peripherals</legend>

			<div class="$_feat_gpio">
				<label class="control-label">GPIO buttons</label>
				<div class="controls">
					<div class="toggle">
						<label class="toggle-radio toggle-gpio-svc" for="toggle-gpio-svc-2">ON </label>$_select[gpio_svc_on]
						<label class="toggle-radio toggle-gpio-svc" for="toggle-gpio-svc-1">OFF</label>$_select[gpio_svc_off]
					</div>
					<button id="btn-set-gpio-svc" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_gpio_svc" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
					<a aria-label="Help" class="config-info-toggle" data-cmd="info-gpio-svc" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
					<span id="info-gpio-svc" class="config-help-info">
						Maps attached hardware buttons to MPD playback or other commands. By @Cyanoazimin.
                    </span>
				</div>

				<div class="controls">
					<a href="gpio-config.php"><button class="btn btn-medium btn-primary config-btn">Edit</button></a>
					<span class="config-btn-after">GPIO pin mappings</span>
				</div>
			</div>

			<label class="control-label">LCD updater</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-lcdup" for="toggle-lcdup-2">ON </label>$_select[lcdup_on]
					<label class="toggle-radio toggle-lcdup" for="toggle-lcdup-1">OFF</label>$_select[lcdup_off]
				</div>
				<button id="btn-set-lcdup" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_lcdup" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-lcdup" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-lcdup" class="config-help-info">
					The LCD update engine runs the lcd-updater.py script whenever UI state changes.<br>
					A stub lcd-updater.py script is located in the /var/local/www/commandw/ directory.
                </span>
			</div>
		</div>
	</form>
</div>
</div>

<form class="form-horizontal" method="post">
	<div id="restart-local-display" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="restart-local-display-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Restart Local Display?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="update_restart_local_display" value="novalue">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="downgrade-chromium-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="downgrade-chromium-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Downgrade chromium-browser?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button id="btn-downgrade-chromium-submit" class="btn btn-primary btn-submit" type="submit" name="downgrade_chromium" value="1">Yes</button>
		</div>
	</div>
</form>
