<!--
/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * Copyright 2014 The moOde audio player project / Tim Curtis
*/
-->
<div id="container">
<div class="container">
	<h1 class="ren-config">Renderers</h1>
	<p>
		Audio renderers are playback applications separate from MPD. When a client connects to one of the renderers MPD will stop and the renderer will begin playback.	When the client stops or disconnects, MPD can resume playback depending on the "Resume MPD" setting.
	</p>

	<form class="form-horizontal" method="post">
		<div class="control-group $_feat_bluetooth">
			<legend>Bluetooth</legend>
			<p class="sub-legend">A Bluetooth adapter must be present and enabled otherwise Bluetooth will not start.</p>
			<label class="control-label">Controller</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-btsvc" for="toggle-btsvc-2">ON </label>$_select[btsvc_on]
					<label class="toggle-radio toggle-btsvc" for="toggle-btsvc-1">OFF</label>$_select[btsvc_off]
				</div>
				<button id="btn-set-btsvc" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_bt_settings" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-btsvc" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-btsvc" class="config-help-info">
					Bluetooth by Johan Hedberg (BlueZ) and Arkadiusz Bokowy (Bluez-alsa).
                </span>
			</div>

			<label class="control-label" for="btname">Name</label>
			<div class="controls">
				<input class="config-input-large" type="text" id="btname" name="btname" value="$_select[btname]" required>
				<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_bt_settings" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
			</div>

			<label class="control-label" for="bt-pin-code">PIN code</label>
			<div class="controls">
				<input class="config-input-large" type="text" pattern="[A-Za-z0-9]{4,6}" id="bt-pin-code" name="bt_pin_code" value="$_bt_pin_code" placeholder="None">
				<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_bt_pin_code" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-bt-pin-code" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-bt-pin-code" class="config-help-info">
					Set a 6 digit numeric PIN code (or "None") that clients are required to enter before the initial connection request is accepted. Subsequent connection requests are then verified and accepted without needing to re-enter the PIN code.
				</span>
			</div>

			<label class="control-label" for="alsavolume-max-bt">ALSA maxvol (%)</label>
			<div class="controls">
				<input class="config-input-large" $_alsavolume_max_bt_readonly type="number" maxlength="3" min="0" max="100" id="alsavolume-max-bt" name="alsavolume_max_bt" value="$_alsavolume_max_bt" $_alsavolume_max_bt_disable>
				<button class="btn btn-primary btn-small config-btn-set btn-submit status-msg" type="submit" name="update_alsavolume_max_bt" value="novalue" $_alsavolume_max_bt_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-alsavolume-max-bt" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				$_alsavolume_max_bt_msg
				<span id="info-alsavolume-max-bt" class="config-help-info">
					Establish the maximum ALSA volume level. This setting takes effect the next time a client connects.
				</span>
			</div>

			<label class="control-label" for="cdspvolume-max-bt">CDSP maxvol (dB)</label>
			<div class="controls">
				<input class="config-input-large" type="number" pattern="^([-+,0-9.]+)" maxlength="4" min="-120" max="0" id="cdspvolume-max-bt" name="cdspvolume_max_bt" value="$_cdspvolume_max_bt">
				<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_cdspvolume_max_bt" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-cdspvolume-max-bt" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-cdspvolume-max-bt" class="config-help-info">
					Establish the maximum CamillaDSP volume level. This setting takes effect the next time a client connects.
				</span>
			</div>

			<label class="control-label">Resume MPD</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-rsmafterbt" for="toggle-rsmafterbt-2">ON </label>$_select[rsmafterbt_on]
					<label class="toggle-radio toggle-rsmafterbt" for="toggle-rsmafterbt-1">OFF</label>$_select[rsmafterbt_off]
				</div>
				<button id="btn-set-rsmafterbt" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_rsmafterbt" value="novalue" $_bt_btn_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-rsmafterbt" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-rsmafterbt" class="config-help-info">
					Resume MPD playback after the Bluetooth client disconnects.
                </span>
			</div>

			<div class="controls">
				<a data-toggle="modal" href="#bt-restart" $_bt_link_disable><button class="btn btn-medium btn-primary config-btn" $_bt_btn_disable>Restart</button></a>
				<span class="config-btn-after">Controller</span>
			</div>

			<div class="controls">
				<a href="blu-control.php"><button class="btn btn-medium btn-primary config-btn">Open</button></a>
				<span class="config-btn-after">Bluetooth control</span>
			</div>
		</div>

		<div class="control-group $_feat_airplay">
			<legend>AirPlay</legend>
			<label class="control-label">Service</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-airplaysvc" for="toggle-airplaysvc-2">ON </label>$_select[airplaysvc_on]
					<label class="toggle-radio toggle-airplaysvc" for="toggle-airplaysvc-1">OFF</label>$_select[airplaysvc_off]
				</div>
				<button id="btn-set-airplaysvc" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_airplay_settings" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-airplaysvc" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-airplaysvc" class="config-help-info">
					Shairport-sync by Mike Brady, the wonderful fork of	the original Shairport by James "Abrasive" Laird.
                </span>
			</div>

			<label class="control-label" for="airplayname">Name</label>
			<div class="controls">
				<input class="config-input-large" type="text" id="airplayname" name="airplayname" value="$_select[airplayname]" required">
				<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_airplay_settings" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
			</div>
			<label class="control-label">Resume MPD</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-rsmafterapl" for="toggle-rsmafterapl-2">ON </label>$_select[rsmafterapl_on]
					<label class="toggle-radio toggle-rsmafterapl" for="toggle-rsmafterapl-1">OFF</label>$_select[rsmafterapl_off]
				</div>
				<button id="btn-set-rsmafterapl" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_rsmafterapl" value="novalue" $_airplay_btn_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-rsmafterapl" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-rsmafterapl" class="config-help-info">
					Resume MPD playback after AirPlay client stops playing or disconnects.
                </span>
			</div>

			<div class="controls">
				<a data-toggle="modal" href="#airplay-restart" $_airplay_link_disable><button class="btn btn-medium btn-primary config-btn" $_airplay_btn_disable>Restart</button></a>
				<span class="config-btn-after">AirPlay</span>
			</div>

			<div class="controls">
				<a href="apl-config.php"><button class="btn btn-medium btn-primary config-btn">Edit</button></a>
				<span class="config-btn-after">Airplay settings</span>
			</div>
		</div>

		<div class="control-group $_feat_spotify">
			<legend>Spotify Connect</legend>
			<p class="sub-legend">This service requires a Spotify Premium account.</p>
			<label class="control-label">Service</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-spotifysvc" for="toggle-spotifysvc-2">ON </label>$_select[spotifysvc_on]
					<label class="toggle-radio toggle-spotifysvc" for="toggle-spotifysvc-1">OFF</label>$_select[spotifysvc_off]
				</div>
				<button id="btn-set-spotifysvc" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_spotify_settings" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-spotifysvc" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-spotifysvc" class="config-help-info"">
					librespot by the Librespot Organization, the wonderful fork of the original librespot by Paul Lietar.
                </span>
			</div>

			<label class="control-label" for="spotifyname">Name</label>
			<div class="controls">
				<input class="config-input-large" type="text" id="spotifyname" name="spotifyname" value="$_select[spotifyname]" required>
				<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_spotify_settings" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
			</div>

			<label class="control-label">Resume MPD</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-rsmafterspot" for="toggle-rsmafterspot-2">ON </label>$_select[rsmafterspot_on]
					<label class="toggle-radio toggle-rsmafterspot" for="toggle-rsmafterspot-1">OFF</label>$_select[rsmafterspot_off]
				</div>
				<button id="btn-set-rsmafterspot" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_rsmafterspot" value="novalue" $_spotify_btn_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-rsmafterspot" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-rsmafterspot" class="config-help-info">
					Resume MPD playback after Spotify client stops playing or disconnects.
                </span>
			</div>

			<div class="controls">
				<a data-toggle="modal" href="#spotify-restart" $_spotify_link_disable><button class="btn btn-medium btn-primary config-btn" $_spotify_btn_disable>Restart</button></a>
				<span class="config-btn-after">Spotify Connect</span>
			</div>

			<div class="controls">
				<a href="spo-config.php"><button class="btn btn-medium btn-primary config-btn">Edit</button></a>
				<span class="config-btn-after">Spotify Connect settings</span>
			</div>

			<div class="controls">
				<a data-toggle="modal" href="#spotify-clear-credentials" $_spotify_link_disable><button class="btn btn-medium btn-primary config-btn" $_spotify_btn_disable>Clear</button></a>
				<span class="config-btn-after">Credential cache</span>
			</div>
		</div>

		<div class="control-group $_feat_squeezelite">
			<legend>Squeezelite</legend>
			<p class="sub-legend">
				This service requires Logitech Media Server (LMS) to be running on the network.<br>
				<b>Caution:</b> Squeezelite hogs the audio output by default and so only turn it on when all other renderers are off otherwise it can interfere with the other renderers and with MPD.
			</p>
			<label class="control-label">Service</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-slsvc" for="toggle-slsvc-2">ON </label>$_select[slsvc_on]
					<label class="toggle-radio toggle-slsvc" for="toggle-slsvc-1">OFF</label>$_select[slsvc_off]
				</div>
				<button id="btn-set-slsvc" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_sl_settings" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-slsvc" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-slsvc" class="config-help-info"">
					Squeezelite renderer by Adrian Smith and Ralph Irving (@triode).
                </span>
			</div>

			<label class="control-label">Resume MPD</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-rsmaftersl" for="toggle-rsmaftersl-2">ON </label>$_select[rsmaftersl_on]
					<label class="toggle-radio toggle-rsmaftersl" for="toggle-rsmaftersl-1">OFF</label>$_select[rsmaftersl_off]
				</div>
				<button id="btn-set-rsmaftersl" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_rsmaftersl" value="novalue" $_sl_btn_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-rsmaftersl" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-rsmaftersl" class="config-help-info">
					Resume MPD playback after LMS power off.
                </span>
			</div>

			<div class="controls">
				<a data-toggle="modal" href="#sl-restart" $_sl_link_disable><button class="btn btn-medium btn-primary config-btn" $_sl_btn_disable>Restart</button></a>
				<span class="config-btn-after">Squeezelite</span>
			</div>

			<div class="controls">
				<a href="sqe-config.php"><button class="btn btn-medium btn-primary config-btn">Edit</button></a>
				<span class="config-btn-after">Squeezelite settings</span>
			</div>
		</div>

		<div class="control-group $_feat_roonbridge">
			<legend>RoonBridge</legend>
			<p class="sub-legend">This component is provided by the manufacturer. Visit their website for installation instructions.</p>
		</div>

		<div class="control-group $_feat_roonbridge">
			<legend>RoonBridge</legend>
			<p class="sub-legend">
				This service requires Roon Core to be running on the network.<br>
				<b>CAUTION:</b> 100% volume at start of playback has occurred when Roon endpoint volume is set to "Device volume".
			</p>
			<label class="control-label">Service</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-rbsvc" for="toggle-rbsvc-2">ON </label>$_select[rbsvc_on]
					<label class="toggle-radio toggle-rbsvc" for="toggle-rbsvc-1">OFF</label>$_select[rbsvc_off]
				</div>
				<button id="btn-set-rbsvc" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_rb_settings" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-rbsvc" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-rbsvc" class="config-help-info">
					RoonBridge by Roon Lab.
                </span>
			</div>

			<label class="control-label">Resume MPD</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-rsmafterrb" for="toggle-rsmafterrb-2">ON </label>$_select[rsmafterrb_on]
					<label class="toggle-radio toggle-rsmafterrb" for="toggle-rsmafterrb-1">OFF</label>$_select[rsmafterrb_off]
				</div>
				<button id="btn-set-rsmafterrb" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_rsmafterrb" value="novalue" $_rb_btn_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-rsmafterrb" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-rsmafterrb" class="config-help-info">
					Resume MPD playback after RoonBridge is disconnected.
                </span>
			</div>

			<div class="controls">
				<a data-toggle="modal" href="#rb-restart" $_sl_link_disable><button class="btn btn-medium btn-primary config-btn" $_rb_btn_disable>Restart</button></a>
				<span class="config-btn-after">RoonBridge</span>
			</div>
		</div>

		<div class="control-group $_feat_upmpdcli">
			<legend>UPnP Client for MPD</legend>
			<p class="sub-legend">This service functions as a UPnP media renderer that uses MPD for playback.</p>
			<label class="control-label">Service</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-upnpsvc" for="toggle-upnpsvc-2">ON </label>$_select[upnpsvc_on]
					<label class="toggle-radio toggle-upnpsvc" for="toggle-upnpsvc-1">OFF</label>$_select[upnpsvc_off]
				</div>
				<button id="btn-set-upnpsvc" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_upnp_settings" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-upnpsvc" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-upnpsvc" class="config-help-info">
					UPnP Client for MPD by Jean-Francois Dockes.
                </span>
			</div>

			<label class="control-label" for="upnpname">Name</label>
			<div class="controls">
				<input class="config-input-large" type="text" id="upnpname" name="upnpname" value="$_select[upnpname]" required">
				<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_upnp_settings" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
			</div>

			<div class="controls">
				<a data-toggle="modal" href="#upnp-restart" $_upnp_link_disable><button class="btn btn-medium btn-primary config-btn" $_upnp_btn_disable>Restart</button></a>
				<span class="config-btn-after">UPnP</span>
			</div>

			<div class="controls">
				<a href="upp-config.php"><button class="btn btn-medium btn-primary config-btn">Edit</button></a>
				<span class="config-btn-after">UPnP settings</span>
			</div>
		</div>
	</form>
</div>
</div>

<form class="form-horizontal" method="post">
	<div id="bt-restart" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="bt-restart-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Restart Bluetooth controller?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="btrestart" value="1">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="pa-restart" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="pa-restart-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Restart Pairing agent?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="parestart" value="1">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="airplay-restart" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="airplay-restart-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Restart AirPlay renderer?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="airplayrestart" value="1">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="spotify-restart" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="spotify-restart-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Restart Spotify connect renderer?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="spotifyrestart" value="1">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="spotify-clear-credentials" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="spotify-clear-credentials-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Clear credential cache?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="spotify_clear_credentials" value="1">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="sl-restart" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="sl-restart-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Restart Squeezelite renderer?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="slrestart" value="1">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="rb-restart" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="rb-restart-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Restart RoonBridge renderer?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="rbrestart" value="1">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="upnp-restart" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="upnp-restart-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Restart UPnP renderer?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="upnprestart" value="1">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="rebuild-dlnadb" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="rebuild-dlnadb-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Rebuild DLNA database?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="rebuild_dlnadb" value="1">Yes</button>
		</div>
	</div>
</form>
