<!--
/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * Copyright 2014 The moOde audio player project / Tim Curtis
*/
-->
<div id="container">
<div class="container">
	<h1 class="sys-config">Restore</h1>
    <form class="form-horizontal" action="">
    	<legend>Status</legend>
		<div class="control-group">
			<button class="btn btn-primary btn-small config-btn-set" type="submit" name="nop">Refresh</button>
			<div id="sys-restore-status">
				<b>Restore completed successfully.</b><br>
				Restart the system and wait for the second auto-restart to complete. This may take a few minutes.<br>
			</div>
		</div>
	</form>
</div>
</div>
