<!--
/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * Copyright 2014 The moOde audio player project / Tim Curtis
*/
-->
<div id="container">
<div class="container">
	<h1 class="sys-config">Restore</h1>
    <form class="form-horizontal" action="">
    	<legend>Status</legend>
		<div class="control-group">
			<button class="btn btn-primary btn-small config-btn-set" type="submit" name="nop">Refresh</button>
			<div id="sys-restore-status">
				System restore completed successfully.<br>
				<b>Restart</b> the system to apply the restored settings.<br>
				An automatic restart will occur after the settings are applied.
			</div>
		</div>
	</form>
</div>
</div>
