<!--
/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * Copyright 2014 The moOde audio player project / Tim Curtis
*/
-->
<div id="container">
<div class="container">
	<h1 class="sys-config">Status</h1>

    <form class="form-horizontal" action="" method="post">
    	<legend>In-place update</legend>
		<div class="control-group">
			<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="nop">Refresh</button>
			<div id="sys-status-log-output">
				$_updater_log
			</div>
		</div>
	</form>
</div>
</div>
