<!--
/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * Copyright 2014 The moOde audio player project / Tim Curtis
*/
-->
<div id="container">
<div class="container">
	<h1 class="snd-config">Multiroom Audio</h1>

	<p>
		A multiroom audio system consists of a Sender and one or more Receivers.
		The Sender should be a dedicated Pi not connected to speakers or headphones.
		For additional information <a href="./setup_multiroom.txt" class="target-blank-link" target="_blank">View multiroom setup guide</a>
	</p>

	<form class="form-horizontal" method="post">
		<legend>Sender</legend>
		<div class="control-group">
			<label class="control-label">Sender daemon</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-multiroom-tx" for="toggle-multiroom-tx-2">ON </label>$_select[multiroom_tx_on]
					<label class="toggle-radio toggle-multiroom-tx" for="toggle-multiroom-tx-1">OFF</label>$_select[multiroom_tx_off]
				</div>
				<button id="btn-set-multiroom-tx" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_tx" value="novalue" $_multiroom_tx_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
			</div>

			<label class="control-label">Loopback</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-alsa-loopback" for="toggle-alsa-loopback-2">ON </label>$_select[alsa_loopback_on]
					<label class="toggle-radio toggle-alsa-loopback" for="toggle-alsa-loopback-1">OFF</label>$_select[alsa_loopback_off]
				</div>
				<button id="btn-set-alsa-loopback" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_alsa_loopback" value="novalue" $_alsa_loopback_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<span class="config-help-static">
					Before turning ALSA Loopback on ensure all DSP in Audio Config is off.
                </span>
			</div>

			<div class="controls">
				<button class="btn btn-primary btn-medium config-btn btn-submit" type="submit" name="multiroom_tx_discover" value="novalue">Discover</button>
				<span class="config-btn-after">Receivers</span>
				<span class="config-help-static">
					$_rx_hostnames
				</span>
			</div>

			<label class="control-label" for="multiroom-initvol">Initial volume</label>
			<div class="controls">
				<input id="multiroom-initvol" class="config-input-large" type="number" maxlength="3" min="0" max="100" name="multiroom_initvol" value="$_multiroom_initvol" $_multiroom_initvol_disable>
				<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_initvol" value="novalue" $_multiroom_initvol_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<span class="config-help-static">
					Sets the initial volume for Sender and Receivers. Note that Receivers must have Master volume opt-in set to Yes.
				</span>
			</div>

			<div class="controls">
				<a data-toggle="modal" href="#restart-tx" $_tx_restart_link_disable><button class="btn btn-medium btn-primary config-btn" $_tx_restart_btn_disable>Restart</button></a>
				<span class="config-btn-after">Sender</span>
			</div>

			<label class="control-label">Advanced options</label>
			<div class="controls">
				<label id="multiroom-tx-adv-options-label" class="btn btn-primary btn-medium config-btn">$_SESSION[tx_adv_toggle]</label>
			</div>

			<div id="multiroom-tx-adv-options" class="$_tx_adv_options_hide">
				<label class="control-label" for="multiroom-tx-bfr">ALSA buffer (ms)</label>
				<div class="controls">
					<select id="multiroom-tx-bfr" class="config-select-large" name="multiroom_tx_bfr" onchange="autoClick('#btn-set-multiroom-tx-bfr');">
						$_select[multiroom_tx_bfr]
					</select>
					<button id="btn-set-multiroom-tx-bfr" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_tx_bfr" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
					<span class="config-help-static">
						Length of the ALSA buffer in milliseconds.
					</span>
				</div>

				<label class="control-label" for="multiroom-tx-frame-size">Opus frame size (ms)</label>
				<div class="controls">
					<select id="multiroom-tx-frame-size" class="config-select-large" name="multiroom_tx_frame_size" onchange="autoClick('#btn-set-multiroom-tx-frame-size');">
						$_select[multiroom_tx_frame_size]
					</select>
					<button id="btn-set-multiroom-tx-frame-size" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_tx_frame_size" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
					<span class="config-help-static">
						Length of PCM data in milliseconds to be encoded into an Opus frame.
					</span>
				</div>

				<label class="control-label" for="multiroom-tx-rtprio">Realtime priority</label>
				<div class="controls">
					<input id="multiroom-tx-rtprio" class="input-small" type="number" maxlength="3" min="1" max="99" name="multiroom_tx_rtprio" value="$_multiroom_tx_rtprio">
					<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_tx_rtprio" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
					<span class="config-help-static">
						Realtime process priority for the Sender daemon. Priorities range from 1 - 99 where higher priority preempts lower priority.
						Scheduler policy is FIFO and default priority is 45.
					</span>
				</div>

				<label class="control-label" for="multiroom-tx-query-timeout">Query timeout</label>
				<div class="controls">
					<input id="multiroom-tx-query-timeout" class="input-small" type="number" maxlength="1" min="1" max="3" name="multiroom_tx_query_timeout" value="$_multiroom_tx_query_timeout">
					<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_tx_query_timeout" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
					<span class="config-help-static">
						Maximum number of seconds to wait per Receiver when querying for Receivers.<br>
						Range is 1-3 seconds. Default is 1 second.<br>
					</span>
				</div>
			</div>
		</div>

		<legend>Receiver</legend>
		<div class="control-group">
			<label class="control-label" for="multiroom-rx">Receiver daemon</label>
			<div class="controls">
				<select id="multiroom-rx" class="config-select-large" name="multiroom_rx" onchange="autoClick('#btn-set-multiroom-rx');">
					$_select[multiroom_rx]
				</select>
				<button id="btn-set-multiroom-rx" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_rx" value="novalue" $_multiroom_rx_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-multiroom-rx" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span class="config-help-static">
					To control Receiver volume via the Sender set "Volume type" to "Hardware" in Audio Config.<br>
					<b>CAUTION: </b>Software or Fixed (0dB) can also be used but volume output will be 0dB (100%) regardless of Sender volume setting.
				</span>
				<span id="info-multiroom-rx" class="config-help-info">
					Disabling the Receiver hides it from the Receivers&nbsp;<i class="fa-solid fa-sharp fa-speakers"></i>&nbsp;screen and prevents it from being turned On.
				</span>
			</div>

			<label class="control-label">Master volume</label>
			<div class="controls">
				<div class="toggle">
					<label class="toggle-radio toggle-multiroom-rx-mastervol-opt-in" for="toggle-multiroom-rx-mastervol-opt-in-2">ON </label>$_select[multiroom_rx_mastervol_opt_in_on]
					<label class="toggle-radio toggle-multiroom-rx-mastervol-opt-in" for="toggle-multiroom-rx-mastervol-opt-in-1">OFF</label>$_select[multiroom_rx_mastervol_opt_in_off]
				</div>
				<button id="btn-set-multiroom-rx-mastervol-opt-in" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_rx_mastervol_opt_in" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<span class="config-help-static">
					Specify whether the Receiver accepts changes made by the Sender volume control.
					Note that on the Receivers&nbsp;<i class="fa-solid fa-sharp fa-speakers"></i>&nbsp;screen a volume knob with a checkmark &nbsp;<i class="fa-regular fa-sharp fa-circle-check"></i>&nbsp;will appear for those that have opted in.
				</span>
			</div>

			<label class="control-label" for="multiroom-rx-alsa-output-mode">ALSA output mode</label>
			<div class="controls">
				<select id="multiroom-rx-alsa-output-mode" class="config-select-large" name="multiroom_rx_alsa_output_mode" onchange="autoClick('#btn-set-multiroom-rx-alsa-output-mode');">
					$_select[multiroom_rx_alsa_output_mode]
				</select>
				<button id="btn-set-multiroom-rx-alsa-output-mode" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_rx_alsa_output_mode" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-multiroom-rx-alsa-output-mode" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				<span id="info-multiroom-rx-alsa-output-mode" class="config-help-info">
					<b>Default: </b>ALSA "plughw" plugin which performs format conversions if needed to match audio device requirements.<br>
					<b>Direct: </b>ALSA "hw" plugin which does not perform format conversions. The audio device must accept the given format.<br>
					<b>IEC958: </b>ALSA "iec958" plugin which provides IEC958_SUBFRAME_LE format for HDMI audio.<br>
				</span>
			</div>

			<label class="control-label" for="multiroom-rx-alsavol">ALSA max volume</label>
			<div class="controls">
				<input id="multiroom-rx-alsavol" class="config-input-large" type="number" maxlength="3" min="1" max="100" name="multiroom_rx_alsavol" value="$_multiroom_rx_alsavol_max" $_multiroom_rx_alsavol_disable>
				<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_rx_alsavol" value="novalue" $_multiroom_rx_alsavol_disable><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
				<a aria-label="Help" class="config-info-toggle" data-cmd="info-multiroom-rx-alsavol" href="#notarget"><i class="fa-regular fa-sharp fa-info-circle"></i></a>
				$_multiroom_rx_alsavol_msg
				<span id="info-multiroom-rx-alsavol" class="config-help-info">
					This establishes the ALSA 0dB level for this receiver when Spotify, Airplay or Bluetooth clients connect to the Sender.
					Alsamixer volume units (1 to 100) are used.
				</span>
			</div>

			<div class="controls">
				<a data-toggle="modal" href="#restart-rx" $_rx_restart_link_disable><button class="btn btn-medium btn-primary config-btn" $_rx_restart_btn_disable>Restart</button></a>
				<span class="config-btn-after">Receiver</span>
			</div>

			<label class="control-label">Advanced options</label>
			<div class="controls">
				<label id="multiroom-rx-adv-options-label" class="btn btn-primary btn-medium config-btn">$_SESSION[rx_adv_toggle]</label>
			</div>

			<div id="multiroom-rx-adv-options" class="$_rx_adv_options_hide">
				<label class="control-label" for="multiroom-rx-bfr">ALSA buffer (ms)</label>
				<div class="controls">
					<select id="multiroom-rx-bfr" class="config-select-large" name="multiroom_rx_bfr" onchange="autoClick('#btn-set-multiroom-rx-bfr');">
						$_select[multiroom_rx_bfr]
					</select>
					<button id="btn-set-multiroom-rx-bfr" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_rx_bfr" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
					<span class="config-help-static">
						Length of the ALSA buffer in milliseconds.
					</span>
				</div>

				<label class="control-label" for="multiroom-rx-jitter-bfr">RTP jitter buffer (ms)</label>
				<div class="controls">
					<select id="multiroom-rx-jitter-bfr" class="config-select-large" name="multiroom_rx_jitter_bfr" onchange="autoClick('#btn-set-multiroom-rx-jitter-bfr');">
						$_select[multiroom_rx_jitter_bfr]
					</select>
					<button id="btn-set-multiroom-rx-jitter-bfr" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_rx_jitter_bfr" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
					<span class="config-help-static">
						Length of the RTP jitter compensation buffer in milliseconds.
					</span>
				</div>

				<label class="control-label" for="multiroom-rx-frame-size">Opus frame size (ms)</label>
				<div class="controls">
					<select id="multiroom-rx-frame-size" class="config-select-large" name="multiroom_rx_frame_size" onchange="autoClick('#btn-set-multiroom-rx-frame-size');">
						$_select[multiroom_rx_frame_size]
					</select>
					<button id="btn-set-multiroom-rx-frame-size" class="hide btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_rx_frame_size" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
					<span class="config-help-static">
						Length of PCM data in milliseconds to be decoded from an Opus frame.
					</span>
				</div>

				<label class="control-label" for="multiroom-rx-rtprio">Realtime priority</label>
				<div class="controls">
					<input id="multiroom-rx-rtprio" class="input-small" type="number" maxlength="2" min="1" max="99" name="multiroom_rx_rtprio" value="$_multiroom_rx_rtprio">
					<button class="btn btn-primary btn-small config-btn-set btn-submit" type="submit" name="update_multiroom_rx_rtprio" value="novalue"><i class="fa fa-solid fa-sharp fa-arrow-turn-down-left"></i></button>
					<span class="config-help-static">
						Realtime process priority for the Receiver daemon. Priorities range from 1 - 99 where higher priority preempts lower priority.
						Scheduler policy is FIFO and default priority is 45.
					</span>
				</div>
			</div>
		</div>
	</form>
</div>
</div>

<form class="form-horizontal" method="post">
	<div id="restart-tx" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="restart-tx-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Restart Sender?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="multiroom_tx_restart" value="1">Yes</button>
		</div>
	</div>
</form>

<form class="form-horizontal" method="post">
	<div id="restart-rx" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="restart-rx-label" aria-hidden="true">
		<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Restart Receiver?</h3>
		</div>
		<div class="modal-body"></div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-primary btn-submit" type="submit" name="multiroom_rx_restart" value="1">Yes</button>
		</div>
	</div>
</form>
