[Unit]
Description=Allo Boss2 OLED display
After=syslog.target network.target sound.target

[Service]
User=root
Group=root

Type=simple
ExecStart=/usr/bin/python /opt/boss2_oled/boss2_oled.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
