#
# 2018-01-26 TC moOde 4.0
#

[Unit]
Description=Start Chromium Browser
After=nginx.service php7.0-fpm.service mpd.service

[Service]
Type=simple

# start xserver
ExecStart=/usr/bin/xinit

User=pi

[Install]
WantedBy=multi-user.target

