[Unit]
Description=Start Chromium Browser
After=nginx.service php8.2-fpm.service mpd.service

[Service]
Type=simple

# start xserver
ExecStart=/usr/bin/xinit

User=pi

[Install]
WantedBy=multi-user.target
