#
# 2017-12-07 TC moOde 4.0
#

[Unit]
Description=Music Player Daemon
After=network.target sound.target

[Service]
# Real-time / Low latency params
# ps -e -o class,rtprio,pri,nice,cmd
# for real-time scheduling policies the "nice" param is ignored and the pri column is not relevant

# for mpd output thread
LimitRTPRIO=99
LimitMEMLOCK=infinity

# scheduling policy
# real-time
# - fifo, first in first out
# - rr, round robin
# static
# - other, the standard round-robin time-sharing (ts) policy
# - batch, for "batch" style execution of processes
# - idle, for running very low priority background jobs
CPUSchedulingPolicy=other

# scheduling priority
# 1 = lowest, 99 = highest)
CPUSchedulingPriority=43

# scheduling priority adjustment
# applies only to static scheduling policies
# 0 = default, -20 = highest, 19 = lowest
Nice=-10 

# processor affinity bit mask
# - empty string = reset bit mask
# - cpu index list or dash seperated range
#CPUAffinity=1

# Launch params
EnvironmentFile=/etc/default/mpd
ExecStart=/usr/local/bin/mpd --no-daemon $MPDCONF

[Install]
WantedBy=multi-user.target
