[Unit]
Description=Moode Rotary Encoder Driver
After=sound.target

[Service]
Type=simple

# Launch params
# rotenc <poll_interval in ms> <accel_factor> <volume_step> <pin_a> <pin_b> <print_debug>
# rotenc 100 2 3 23 24 1 (with optional debug print)
# rotenc 100 2 3 23 24 (normal)
# poll_interval:	Number of ms delay for each iteration of the volume update loop. Default=100
# accel_factor:	    Threshold (difference between last and current position of encoder) to determine whether to use 1 step or STEP steps. Default=2.
# volume_step:		Number of steps to use when knob turns at fast rate. Default=3.
# pin_a/b:	        GPIO pin numbers. Defaults: rotenc_py (23,24 - Broadcom SoC), rotenc_c (4,5 wiringPi).
# print_debug:	    Print debug information to console. 1=normal, 2=verbose (2 is for rotenc_c only). This is an optional param.
ExecStart=/var/www/daemon/rotenc.py 100 2 3 23 24

[Install]
WantedBy=multi-user.target
