[Unit]
Description=Squeezelite renderer
After=network.target

[Service]
EnvironmentFile=-/etc/squeezelite.conf
ExecStart=/usr/bin/squeezelite -n ${PLAYERNAME} -o $AUDIODEVICE -a ${ALSAPARAMS} -b ${OUTPUTBUFFERS} -p $TASKPRIORITY -c $CODECS $OTHEROPTIONS

[Install]
WantedBy=multi-user.target
