#
# 2019-04-12 TC moOde 5.0
#
#

[Unit]
Description=UPnP Renderer front-end to MPD
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/upmpdcli -c /etc/upmpdcli.conf

[Install]
WantedBy=multi-user.target
