#
# 2017-11-26 TC moOde 4.0
#

[Unit]
Description=UPnP Renderer front-end to MPD
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/upmpdcli -c /etc/upmpdcli.conf

[Install]
WantedBy=multi-user.target
