[Unit]
Description=CamillaDSP GUI
After=multi-user.target

[Service]
Type=idle
Group=www-data
ExecStart=/usr/bin/python3 /opt/camillagui/main.py

[Install]
WantedBy=multi-user.target

