#
# 2017-11-11 TC moOde 4.0
#

ACTION=="add", SUBSYSTEM=="usb", DRIVER=="snd-usb-audio", GOTO="usb-add"
GOTO="usb_end"

LABEL="usb-add"
RUN+="/bin/systemctl restart mpd"

LABEL="usb_end"
