[Unit]
Description=Bluealsa proxy
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/bluealsa -p a2dp-source -p a2dp-sink

[Install]
WantedBy=multi-user.target
