# NOTE:
# - add profiles required by latest bluez-alsa build
# - remove User=bluealsa, Group=Audio since they don't appear to be needed

[Unit]
Description=BluezAlsa proxy
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/bluealsa -p a2dp-source -p a2dp-sink

[Install]
WantedBy=multi-user.target
