#
# 2017-12-07 TC moOde 4.0
#

[Unit]
Description=BluezAlsa proxy
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=simple
#User=pi
#Group=audio
ExecStart=/usr/bin/bluealsa

[Install]
WantedBy=multi-user.target
