#
# 2020-07-09 TC moOde 6.6.0
#
#
[Unit]
Description=BlueAlsa-Aplay
Requires=bluetooth.service bluealsa.service

[Service]
Type=simple
#User=pi
#Group=audio
EnvironmentFile=-/etc/bluealsaaplay.conf
ExecStart=/usr/bin/bluealsa-aplay --profile-a2dp --pcm-buffer-time=${BUFFERTIME} -D $AUDIODEV %I

[Install]
WantedBy=multi-user.target
