[Unit]
Description=BlueAlsa-Aplay
Requires=bluetooth.service bluealsa.service

[Service]
Type=simple
#User=pi
#Group=audio
EnvironmentFile=-/etc/bluealsaaplay.conf
ExecStart=/usr/bin/bluealsa-aplay --profile-a2dp -d $AUDIODEV %I

[Install]
WantedBy=multi-user.target
