/*!
 * SPDX-License-Identifier: GPL-3.0-or-later
 * Copyright 2014 The moOde audio player project / Tim Curtis
*/

/*
// Style for the Config screens
*/

body {
	--config-text-color: #ddd;
	--config-btn-bg-color: #333;
	--config-panel-bg-color: #151515;
	--config-menu-bg-color: rgba(50,50,50,0.95);
	--config-toggleoff-bg-color: rgba(128,128,128,0.2);
	--config-toggleoff-color: #888;
	--config-help-color: #888;
	--config-help-icon-color: #666;
	--config-help-margin-top: -10px;
	--config-ctl-margin-right: 12px;
	--config-ctl-margin-bottom: 16px;
	--config-ctl-margin-bottom-toggle: 12px;
	background-color:var(--config-panel-bg-color)!important;
}

/* Main template div's */
#container {position:fixed;top:2.75rem;height:90%;width:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;}
.container {position:relative;padding:1em 2em 0 2em;background-color:var(--config-panel-bg-color);font-size:var(--pbfont);width:unset;height:auto;}
.container .dropdown-menu.inner {background-color:var(--config-menu-bg-color)!important;color:var(--config-text-color)!important;-webkit-overflow-scrolling:touch;}

/* Title and legend */
h1 {font-size:2.5rem;font-weight:300;margin:0 0 .5em 0;}
legend {font-size:1.5rem;font-weight:300;border-bottom:1px solid #888;margin-bottom:1em;color:inherit;}
.legend-config {margin:0 0 .25em .5em;}
.legend-info-help {line-height:16px;padding-bottom:10px;font-size:12px;font-weight:normal;}
.sub-legend {margin:-1em 0 1.5em 0;color:var(--config-help-color);font-size:1em;}

/* Form controls */
.control-label {font-size:1em;padding-top:.2em!important;}
.toggle {margin:0 var(--config-ctl-margin-right) var(--config-ctl-margin-bottom-toggle) 0;}

.toggle,
.toggle.toggle-off {background-color:var(--config-toggleoff-bg-color);}
.toggle.toggle-off .toggle-radio {color:var(--config-toggleoff-color);}

input[type=text],
input[type=number],
input[type=password] {display:inline-block;height:22px;vertical-align:top;margin:0 var(--config-ctl-margin-right) var(--config-ctl-margin-bottom) 0;}

.config-input-mini {width:6vw;max-width:60px;}
.config-input-large {width:20.75vw;max-width:210px;}
.config-input-xlarge {width:28.75vw;max-width:310px;}
.config-select-large:not([class*=span]) {width:22vw;max-width:220px;margin:0 var(--config-ctl-margin-right) 0 0;}
.config-select-xxlarge:not([class*=span]) {width:90%;max-width:750px;margin:0 var(--config-ctl-margin-right) var(--config-ctl-margin-bottom) 0;}
.config-select-yn:not([class*=span]) {width:8vw;max-width:80px;margin:0 var(--config-ctl-margin-right) var(--config-ctl-margin-bottom) 0;}
.config-select-large .dropdown-toggle,
.config-select-xxlarge .dropdown-toggle,
.config-select-yn .dropdown-toggle {margin-bottom:var(--config-ctl-margin-bottom);}
.config-modal-input {background-color:rgba(128,128,128,0.35)!important;border:1px solid rgba(128,128,128,0.75)!important}
/* For GPIO Config, vertical-align:top */
.config-select-gpio:not([class*=span]) {vertical-align:top;width:8vw;max-width:80px;margin:0 var(--config-ctl-margin-right) var(--config-ctl-margin-bottom) 0;}
.config-select-gpio .dropdown-toggle {margin-bottom:var(--config-ctl-margin-bottom);}

.btn-group.bootstrap-select .btn {padding:3px 0;}
.config-btn {display:inline-block;margin:0 var(--config-ctl-margin-right) var(--config-ctl-margin-bottom) 0;width:fit-content;}
.config-btn-after {display:inline-block;vertical-align:middle;margin:0 var(--config-ctl-margin-right) var(--config-ctl-margin-bottom) 0;color:var(--config-text-color);}
.config-btn-set {vertical-align:top;margin:1px var(--config-ctl-margin-right) var(--config-ctl-margin-bottom) 0;}
.config-btn-block {display:block;}
.config-input-after,
.config-toggle-after {display:inline-block;vertical-align:top;color: var(--config-text-color);margin-top:5px;margin-right:var(--config-ctl-margin-right);}

/* Help text */
a.config-info-toggle {vertical-align:top;color:var(--config-help-icon-color);}
a.config-info-toggle:hover,
a.config-info-toggle:visited {color:var(--config-help-icon-color);}
.config-info-toggle i {vertical-align:top;margin-top:5px;font-size:18px;}
.config-help-info,
.config-help-static,
.config-msg-static {display:block;font-size:1em;color:var(--config-help-color);margin-top:var(--config-help-margin-top);margin-bottom:var(--config-ctl-margin-bottom);}
.config-help-info {display:none;}
.config-help-no-margin {margin-bottom:0;}
.config-help-less-margin {margin-bottom:.75em;}
.config-help-header {display:block}
.config-refresh-btn i {vertical-align:top;margin-top:5px;font-size:18px;}

/* blu-control, sys-status */
#blu-control-cmd-output,
#sys-status-log-output,
#sys-restore-status {background-color:#333;font-size:small;line-height:18px;padding:10px;margin-bottom:var(--config-ctl-margin-bottom);width:80%;
	font-family:monospace;};
/* net-config, src-config: Show/hide password plaintext */
a.show-hide-password {vertical-align:top;color:var(--config-help-icon-color);}
a.show-hide-password:hover,
a.show-hide-password:visited {color:var(--config-help-icon-color);}
.show-hide-password i {vertical-align:top;margin-top:5px;font-size:18px;margin-left:var(--config-ctl-margin-bottom);}
.left-margin-0 i {margin-left:0;}
/* cdsp-configurator: Pipeline editor */
.cdsp-pipeline-editor {width:100%;height:200vh;border:none;}
/* lib-config */
.config-btn-music-source {font-size:1.15em;width:80%;background-color:#333;text-align:left;}
.config-btn-music-source-none {color:var(--config-help-color);}
.config-btn-music-source-stats {margin-left:1.8em;font-size:.85em;color:var(--config-help-color);}

/* CamillaDSP Config */
.cdsp-help-table td {padding:0 0.5em 0 0;}

/* Miscellaneous */
.config-horiz-rule {border-bottom:1px solid #333;margin:4px 0 calc(4px + var(--config-ctl-margin-bottom)) 0;font-size:1.15em;font-style:italic;color:var(--config-help-color);}
a.btn.btn-medium.btn-primary {font-size:16px;}
#config-tabs {position:absolute;height:3em;top:calc(env(safe-area-inset-top) + .25em);color:inherit;display:flex;z-index:1001;line-height:normal;font-size:inherit;align-items:center;display:none;}
#config-tabs a {font-size:.9rem;color:var(--config-text-color);display:inline-flex;}
#config-tabs i {display:none;font-size:1.25rem;padding:0 0.25em;}
#config-tabs .btn {padding:.35rem .6rem;border-right:1px solid rgba(128,128,128,.35);}
#config-tabs .btn:last-child, #config-tabs .btn.active {border:none;}
.viewswitch-cfgs {position:absolute;top:0;top:env(safe-area-inset-top);left:50%;box-sizing:border-box;background-color:transparent;color:inherit;display:none;z-index:1001;line-height:normal;font-size:inherit;transform:translate(-50%, 0%);height:2.75em;align-items:center;}
.viewswitch-cfgs .btn {position:relative;align-items:center;border-radius:0px;width:50%;line-height:normal;font-size:1rem;padding:.35rem 1rem;color:inherit;border:none;background: var(--btnshade3);backdrop-filter:blur(10px);-webkit-backdrop-filter:blur(10px);}
.viewswitch-cfgs .btn:first-child {border-top-left-radius:.25em;border-bottom-left-radius:.25em;}
.viewswitch-cfgs .btn:last-child {border-top-right-radius:.25em;border-bottom-right-radius:.25em;}
.viewswitch-cfgs .btn.active {background:rgba(128,128,128,.35);color:inherit;}
.viewswitch-cfgs a {color:var(--btnbarcolor);box-sizing:border-box;}
.viewswitch-cfgs .active a {color:inherit;}
#config-back {position:absolute;float:left;left:0;top:calc(env(safe-area-inset-top) + 0);padding-left:1em;display:none;},
#config-home {position:absolute;float:left;left:3.5em;top:calc(env(safe-area-inset-top) + 0);padding-left:1em;display:none;}
#config-back i {font-size:2rem;position:relative;top:.25em;}
#config-home i {font-size:1.5rem;position:relative;top:.2em;}
#config-back a,
#config-home a {color:var(--config-text-color);}
#thmcache-status {max-width:80%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
